.background {
	-fx-background-color: #F6FFF8;
    background-color: #F6FFF8;
}

.link {
	-fx-text-fill: #52796F;
}

.link:hover {
	-fx-text-fill: #2F3E46;
}

.access-button {
	-fx-text-fill: #F6FFF8;
	-fx-background-color: #2F3E46;
    background-color: #2F3E46;
}

.text {
	-fx-text-fill: #2F3E46;
}

.link-see-more {
	-fx-text-fill: #52796F;
}

.link-see-more:hover {
	-fx-text-fill: #2F3E46;
	-fx-underline: true;
}

.separator .line {
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
    -fx-pref-height: 1;
    -fx-border-color: null ;
    border-color: null ;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    background-color: transparent;
 }

.scroll-pane {
    -fx-background-color: #F6FFF8;
    background-color: #F6FFF8;
}

.scroll-bar:vertical {
    -fx-background-color: #CCE3DE;
    background-color: #CCE3DE;
}

.scroll-bar:vertical .track {
	-fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #52796F;
    background-color: #52796F;
    -fx-background-radius: 2em;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #52796F;
    background-color: #52796F;
}

.scroll-bar > .increment-button > .increment-button,
.scroll-bar > .decrement-button > .decrement-button {
    -fx-background-color: #CCE3DE;
    background-color: #CCE3DE;
}

.textInfo:hover .label {
    -fx-underline: true;
}

.split {
    -fx-background-color: #F6FFF8;
    -fx-border-color: #CAD2C5;
    -fx-border-width: 1;
    background-color: #F6FFF8;
    border-color: #CAD2C5;
    border-width: 1;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
    -fx-pref-width: 3;
 }

 .boton-menu {
    -fx-text-fill: #2F3E46;
    -fx-background-color: #F6FFF8;
    background-color: #F6FFF8;
 }

 .boton-menu:hover, .boton-menu:focused, .boton-menu:showing {
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
 }

 .elemento-menu {
    -fx-background-color: #F6FFF8;
    background-color: #F6FFF8;
    -fx-text-fill: #2F3E46;
 }

 .elemento-menu:focused {
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
    -fx-text-fill: #2F3E46;
 }

 .slider {
    -fx-text-fill: #CAD2C5;
 }

 .slider .track-area  {
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
}

 .slider .thumb-area {
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
}

 .slider:selected .thumb-area {
    -fx-background-color: #52796F;
    background-color: #52796F;
}

.lista {
    -fx-background-color: #F6FFF8;
    background-color: #F6FFF8;
    -fx-text-fill: #2F3E46;
    -fx-control-inner-background: #F6FFF8;
    -fx-selection-bar:#52796F ;
    -fx-selection-bar-non-focused: #CAD2C5 ;
 }

 .combo-box .cell{
    -fx-background-color: #F6FFF8;
    background-color: #F6FFF8;
    -fx-text-fill: #2F3E46;
}

.combo-box .cell:focused{
    -fx-background-color: #CAD2C5;
    background-color: #CAD2C5;
    -fx-text-fill: #2F3E46;
}

.combo-box .arrow-button {
    -fx-background-color: #CAD2C5;
}

.dark-mode {
    -fx-icon-color: #2F3E46;
}